#######################################################################
# This is just a template file. Never add sensitive real values here.
# If you need a file, make a copy with a different name and make sure
# it is never committed to the repository.
#######################################################################

# Port number to which the application will listen to: e.g. 8080
export APP_PORT=

# Number of node instances to run concurrently.
# For local development, just setting it to 1 will do in most cases.
export NUM_INSTANCES=

# The canonical URI prefix: All internal IDs contained in the JSON response
# returned from the MarkLogic database begins with this prefix.
# For example, all Yale IDs begin with
# "https://lux.collections.yale.edu" regardless of the deployment environment.
#
# Consequently, when the frontend or the middle tier builds a query to
# send to the MarkLogic database, all internal IDs used in the query
# should begin with this prefix.
#
# Do not attach a trailing slash to the URI.
export SEARCH_URI_HOST=

# URI prefix used to substitue those of internal URIs in JSON responses
# returned by the MarkLogic database, to be returned to the frontend.
#
# This can be set to the same value as SEARCH_URI_HOST, or for
# the convenience of developers and data engineers, it can be set
# to match the URL specific to the deployment environment.
#
# For the Yale University example, it the URL of the development frontend
# is https://lux-dev.collections.yale.edu, and RESULT_URI_HOST is set to
# that same value, internal IDs contained in responses returned by the
# middle tier are directly actionable URLs for that environment.
#
# Again, do not attach a trailing slash to the URI.
export RESULT_URI_HOST=

#############################################################
# BEGIN Parameters for connecting to the MarkLogic database #
#############################################################

# The unit to connect to MarkLogic as. For access to all of the data, 
# set the the tenant's name (e.g., "lux") or do not set.
export UNIT_NAME=

# Authentication type for access to MarkLogic. e.g., digest
export ML_AUTH_TYPE=

# true or false for SSL mode to be expected of MarkLogic backend
export ML_SSL=

#
# Parameters for the "fast lane" endpoint:
#

# Hostname of MarkLogic database
export ML_HOST=

# Port number
export ML_PORT=

# Username
export ML_USER=

# Password
export ML_PASS=

#
# Parameters for the "slow lane" endpoint:
#

# Hostname
export ML_HOST2=

# Port number
export ML_PORT2=

# Username
export ML_USER2=

# Password
export ML_PASS2=

###########################################################
# END Parameters for connecting to the MarkLogic database #
###########################################################

# Log level for winston, e.g., "debug", "info", "warn", "error"
# https://github.com/winstonjs/winston#using-logging-levels
export LOG_LEVEL=
