# Port number to which the application will listen to
export APP_PORT=

# Number of node instances to run concurrently
export NUM_INSTANCES=

export SEARCH_URI_HOST=
export RESULT_URI_HOST=

# Port number for MarkLogic REST API
export ML_PORT=

# Authentication type for access to MarkLogic
# If ML_AUTH_TYPE is set to "basic", ML_SSL must be "true".
# If ML_AUTH_TYPE is set to "digest", ML_SSL must be "false".
export ML_AUTH_TYPE=

# true or false for SSL mode to be expected of MarkLogic backend
export ML_SSL=

# Hostname of MarkLogic backend "fast lane"
export ML_HOST=

# Username for Marklogic backend "fast lane"
export ML_USER=

# Password for Marklogic backend "fast lane"
export ML_PASS=

# Hostname of MarkLogic backend "slow lane"
export ML_HOST2=

# Username for Marklogic backend "slow lane"
export ML_USER2=

# Password for Marklogic backend "slow lane"
export ML_PASS2=

# Log level for winston, e.g., "debug", "info", "warn", "error"
# https://github.com/winstonjs/winston#using-logging-levels
export LOG_LEVEL=
