name: Docker Deploy

on:
  workflow_dispatch:
    inputs:
      target_env:
        description: 'Target environment for deployment'
        required: true
        default: 'DEV'
        type: choice
        options:
          - PRD
          - TST
          - DEV
          - SBX
          - EXP
          - DATA-DEV
          - BYUNIT-DEV2
          - RDATA
          - MINIML-GRAVITON
jobs:
  deploy:
    runs-on: [self-hosted, X64]
    environment:
      name: ${{ inputs.target_env }}
    env:
      TAG: ${{ vars.TAG_TO_DEPLOY }}
      ECR_URI: "${{ vars.ECR_HOST }}/${{ vars.DOCKER_IMAGE_NAME }}"
      CLUSTER: ${{ vars.ECS_CLUSTER }}
      SERVICE: ${{ vars.ECS_SERVICE }}
      MIN_PERC: 100 # minumum healthy percent
      TIMEOUT: 300 # deployment timeout in seconds
      AWS_REGION: ${{ vars.AWS_REGION }}
      AWS_ACCESS_KEY_ID: ${{ vars.AWS_ACCESS_KEY_ID_CDS2_DEVTOOLS_DEV }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_CDS2_DEVTOOLS_DEV }}
      KMS_KEY_ID: ${{ vars.CDS2_KMS_KEY_ID_DEV }}
      S3URL: ${{ vars.CONFIG_STORE_S3 }}
      ML_HOST: ${{ vars.ML_HOST }}
      M_PORT: ${{ vars.ML_PORT }}
      ML_USER: ${{ vars.ML_USER }}
      ML_PASS: ${{ secrets.ML_PASS }}
      LOG_LEVEL: ${{ vars.LOG_LEVEL }}
    steps:
      - name: Pack environment variables
        run: |
          echo "ML_HOST=${ML_HOST}" >> _env
          echo "M_PORT=${ML_PORT}" >> _env
          echo "ML_USER=${ML_USER}" >> _env
          echo "ML_PASS=${ML_PASS}" >> _env
          echo "LOG_LEVEL=${LOG_LEVEL}" >> _env
          set -x
          env-to-json.py _env config.json
      - name: Deploy Docker Image
        run: |
          set -x
          aws kms encrypt --region us-east-1 --key-id ${KMS_KEY_ID} \
            --plaintext fileb://config.json --query CiphertextBlob --output text | base64 --decode \
            > config.encrypted
          aws s3 cp config.encrypted ${S3URL}/config.encrypted
          rm -f _env config.json config.encrypted
          ecs-deploy --use-latest-task-def -r us-east-1 \
            -t ${{ env.TIMEOUT }} -m ${{ env.MIN_PERC }} \
            -c ${{ env.CLUSTER }} -n ${{ env.SERVICE }} \
            -i ${{ env.ECR_URI }}:${{ env.TAG }}
